.list-album-item {
	display: flex;
}


.album-item {
	background-image: url('./img1.jpg');
	background-size: cover;
	background-position: center;
	width: 128px;
	height: 128px;
	margin-left: 15px;
	margin-bottom: 60px;
}

.album-item .overlay {
	height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    opacity: 0;
    transform: 0.5;
    transition: all 500ms;
    background-color: rgba(0, 0, 0, 0.3);
    margin-bottom: 10px;
}

.album-item .overlay a {
	color: white;
}

.album-item:hover .overlay {
	opacity: 1;
	transform: 1;
}

.album-item .info a {
  color: #000;
  font-size: 12px;
  text-decoration: none;
}

.album-item .info a:hover {
  color: purple;
}

